
.im{
	background-image: url('img/icon.png');
}
.im1{
	background-image: url('img/icon1.png');
}
.im2{
	background-image: url('img/icon2.png');
}
.im3{
	background-image: url('../images/plpic.png');
}
.im4{
	background-image: url('../images/ydpic.png');
}
.im5{
	background-image: url('../images/sjpic.png');
}
.im6{
	background-image: url('../images/newtz.png');
}
.im7{
	background-image: url('../images/newhf.png');
}
.im8{
	background-image: url('../images/newpic.png');
}
.im9{
	background-image: url('../images/login.png');
}
.im10{
	background-image: url('../images/edit1.png');
}
.im11{
	background-image: url('../images/edit2.png');
}
.im12{
	background-image: url('../images/more1.png');
}
.im13{
	background-image: url('../images/more2.png');
}
.im14{
	background-image: url('../images/more3.png');
}
.im15{
	background-image: url('../images/more4.png');
}
.im16{
	background-image: url('../images/more5.png');
}
.im17{
	background-image: url('../images/more6.png');
}
.im18{
	background-image: url('../images/set1.png');
}
.im19{
	background-image: url('../images/set2.png');
}
.im20{
	background-image: url('../images/set3.png');
}
.im21{
	background-image: url('../images/set4.png');
}
.im22{
	background-image: url('../images/set5.png');
}
.im23{
	background-image: url('../images/set6.png');
}
.im24{
	background-image: url('../images/set7.png');
}
.im25{
	background-image: url('../images/wbtx.png');
}

.im26{
	background-image: url('../images/wbxl.png');
}

.im27{
	background-image: url('../images/wbwy.png');
}
.im28{
	background-image: url('../images/more7.png');
}
